@mixin clearfix () {

  &::before,
  &::after {
    content: "";
    display: block;
    font-size: 0;
    height: 0;
    width: 0;
    opacity: 0;
    clear: both;
  }
}

@mixin ellipsis($n) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $n;
  -webkit-box-orient: vertical;
}

@mixin checkbox() {
  position: relative;

  label {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 100%;
  }

  input {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  input:checked+label {
    background: $themeColor;
    border-color: $themeColor;
    position: relative;
  }

  input:checked+label::after {
    content: "";
    width: 8px;
    height: 4px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
    position: absolute;
    display: block;
    top: 0;
    right: -1px;
    bottom: 3px;
    left: 0;
    margin: auto;
    -webkit-font-smoothing: antialiased;
  }
}