@import '_reset';
@import '_variables';
@import '_mixin';
@import '_common';

body {
  background: #fff;
}

.mui-bar.mui-bar-nav {
  background: $themeColor;
  height: 45px;

  .mui-title {
    color: #fff;
  }

  .mui-icon {
    color: #fff;
  }
}

.container {
  padding: 45px 10px 0;
  
  .login {
    margin-top: 20px;

    input[type=submit] {
      width: 100%;
      height: 40px;
    }

    .register {
      width: 100%;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      text-align: right;
      color: #007aff;
    }
  }
}

