<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="blue">
  <link type="image/x-icon" rel="shortcut icon" href="images/favicon.ico">
  <link rel="stylesheet" href="lib/mui/css/mui.min.css">
  <link rel="stylesheet" href="lib/mui/css/icons-extra.css">
  <link rel="stylesheet" href="styles/search.css">
  <title>乐淘购物中心</title>
</head>

<body>
  <header id="header" class="mui-bar mui-bar-nav">
    <a class="mui-icon mui-icon-back" href="javascript:history.back();"></a>
    <h1 class="mui-title">搜索中心</h1>
  </header>

  <div class="container">
    <!-- 搜索栏 -->
    <div class="search-input">
      <input type="search" name="search-name" placeholder="搜索你喜欢的商品">
      <button>搜索</button>
    </div>

    <!-- 搜索历史纪录 -->
    <div class="history"></div>
  </div>

  <footer class="footer-bar">
    <ul>
      <li><a href="" class="mui-icon mui-icon-home"><span>首页</span></a></li>
      <li><a href="" class="mui-icon mui-icon-bars"><span>分类</span></a></li>
      <li><a href="" class="mui-icon-extra mui-icon-extra-cart"><span>购物车</span></a></li>
      <li><a href="" class="mui-icon mui-icon-person"><span>会员中心</span></a></li>
    </ul>
  </footer>

  <!-- 历史记录的模板 -->
  <script type="text/template" id="historyTemp">
    <% if (history.length === 0) {%>
      <div><p>没有历史搜索纪录</p><div>
    <% } else { %>
      <div class="history-header">
        <span>搜索历史</span>
        <span class="clearHistory">
          <span class="mui-icon mui-icon-trash"></span>
          清空记录
        </span>
      </div>

      <ul class="history-list">
        <% for (let i = history.length - 1; i >= 0; i--) { %>
          <li>
            <a href="javascript:"><%= history[i]%></a>
            <span class="mui-icon mui-icon-closeempty"></span>
          </li>
        <% } %>
      </ul>
    <% } %>
  </script>

  <!-- 引入脚本文件 -->
  <script src="lib/zepto/zepto.min.js"></script>
  <script src="lib/mui/js/mui.min.js"></script>
  <script src="lib/art-template/template-web.js"></script>
  <script src="js/search.js"></script>
</body>

</html>